<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4  col-lg-offset-2">
                    <p>Just a guy who loves to create. I'm as passionate about over-designing in CAD and manufacturing via rapid prototyping as I am about hacking together a solution using old parts, epoxy and zip-ties.</p>
                </div>
                <div class="col-lg-4">
                    <p>Have a browse through my projects and feel free to contact me below with any questions (once I get the form working), or smack one of those buttons at the bottom to find me on social media. </p>
                </div>
            </div>
        </div>
    </section>